*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    font-family: sans-serif;
    --primary-color: #ff8e38;
    --secondary-color: #38A1FF;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
}

.content{
    display: grid;
    grid-template-areas: 
    ". . .  . ."
    ". . hero form ."
    ". . hero form ."
    ". . . . ."
    ;
    gap: 8.5rem;
}

main {
    grid-area: form;
}

aside{
    grid-area: hero;
}

aside h1{
    font-size: 64px;
    font-weight: 500;
    line-height: 75px;
}

aside h1 span, main h2 span{
    color: var(--primary-color);

}

main{
    width: 600px;
    height: 520px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 4.4rem 5.7rem;
    border-radius: 1.2rem;
}

main h2{
    max-width: 43rem;
    font-size: 3.6rem;
    font-weight: 500;
}

main .actions{
    display: flex;
    flex-flow: column wrap;
}

main .actions a{
    border-radius: 1.2rem;
    text-decoration: none;
    font-size: 2.4rem;
    height: 5.5rem;
    background-color: var(--secondary-color);
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.4rem;
}

main .actions a + a{
    background-color: var(--primary-color);
    margin-top: 4.8rem;
}

main footer p {
    margin-top: 8rem;
    font-size: 1.6rem;
}

Main footer a{
    margin-top: 1rem;
    font-size: 1.8rem;
    display: block;
    text-align: center;
    color: #000;
}